{% extends "showcase/layout.html" %}

{% block body %}
<section class="py-3">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 offset-lg-3 col-12 text-center">
				<h1>{{ project.judul }}</h1>
			</div>
		</div>
		<div class="row">
			<div class="py-3 col-md-7">
				<iframe style="width:100%; height:445px;" src="https://www.youtube.com/embed/hVKwS9x8Nn4"></iframe>
			</div>
			<div class="py-3 col-md-4">
			        <h5 class="featurette-heading">Author </h5>
			        <p class="font-monospace">Nama : {{ project.author.nama }}</p>
			        <p class="font-monospace">NPM : {{ project.author.npm }}</p>
			        <p class="font-monospace">Angkatan : {{ project.author.angkatan }}</p>
			        <p class="font-monospace">Program Studi : {{ project.author.program_studi }}</p>
			        <h5 class="featurette-heading	">Project Description</h5>
			        <p class="font-monospace">	{{ project.deskripsi }}
			      </div>
			    </div>
		</div>
	</div>
</div>

{% endblock %}