{% extends "showcase/layout.html" %} {% block body %}
<div class="detail">
    <section class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-12 text-center my-3">
                    <h2>{{ project.judul }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="py-3 col-md-7">
                    <iframe style="width:100%; height:445px;" src="{{ project.link_youtube }}"></iframe>
                </div>
                <div class="py-3 col-md-4">
                    <h5 class="text-heading">Author</h5>
                    <table class="table table-borderless">
                        <tr>
                            <td class="col-2">Nama</td>
                            <td class="col-1">:</td>
                            <td>{{ project.author.nama }}</td>
                        </tr>
                        <tr>
                            <td class="col-2">NPM</td>
                            <td class="col-1">:</td>
                            <td>{{ project.author.npm }}</td>
                        </tr>
                        <tr>
                            <td class="col-2">Angkatan</td>
                            <td class="col-1">:</td>
                            <td>{{ project.author.angkatan }}</td>
                        </tr>
                        <tr>
                            <td class="col-2">Program Studi</td>
                            <td class="col-1">:</td>
                            <td>{{ project.author.program_studi }}</td>
                        </tr>
                    </table>
                    <h5 class="text-heading" style="padding-top: 1rem!important;">Project Description</h5>
                    <table class="table table-borderless">
                        <tr>
                            <td class="text-description">{{ project.deskripsi }}</td>
                        </tr>
                    </table>
                    <h5 class="text-heading" style="padding-top: 1rem!important;">Project URL</h5>
                    <table class="table table-borderless">
                        <tr>
                            <td class="github-link"><i class="bi bi-github"></i> <a class="text-decoration-none" href="{{ project.link_github }}"> {{ project.link_github }}</a></td>
                        </tr>
                    </table>
                    <!-- <div class="">Nama: {{ project.author.nama }}</div>
                    <div class="">NPM: {{ project.author.npm }}</div>
                    <div class="">Angkatan: {{ project.author.angkatan }}</div>
                    <div class="">Program Studi: {{ project.author.program_studi }}</div>
                    <div class="">{{ project.deskripsi }}</div>
                    <div class="">
                        <a href="{{ project.link_github }}">{{ project.link_github }}</a>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="custom-shape-divider-footer-top">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
            </svg>
        </div>
        <div class="container">
            <div class="row">
                <p class="text-footer fw-semibold">&copy;Himakom, 2022</p>
            </div>
        </div>
    </footer>
</div>
<scriptr src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></scriptr>
<scriptr src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></scriptr>
{% endblock %}