@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* navbar */

.navbar-brand {
    font-family: viga;
    size: 38px;
}

.navbar-nav {
    font-family: 'Rubik';
}

.top-side {
    color: yellow !important;
    position: relative;
    z-index: 1;
}

.img-hover-zoom {
    background: white;
    overflow: hidden;
}

.img-hover-zoom--basic img {
    transition: transform .5s ease;
}

.img-hover-zoom--basic:hover img {
    transform: scale(1.5);
}


/* Jumbotron */

.jumbotron {
    background-size: cover;
    width: 100%;
}

.jumbotron .container {
    position: relative;
    z-index: 1;
}


/* .jumbotron::after {
    content: '';
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
} */


/* .jumbotron .display-4 {
    color: white;
    margin-top: auto;
    font-weight: 100;
    font-size: 25px;
    text-shadow: rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
    text-transform: uppercase;
} */


/* .jumbotron .display-4 span {
    font-weight: 500;
} */

.maps {
    margin-top: 35px;
}

.footer {
    margin-top: 30px;
}

.text-footer {
    text-align: center;
}

iframe {
    width: 470px;
    height: 365px;
}

.txt {
    font-family: viga;
}

.jumbotron {
    margin-top: auto;
}

.text-jum {
    position: justify;
    margin: 18vh auto 5vh auto;
    /* margin-top: 150px; */
    /* font-family: viga; */
}

.text-title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3.5rem;
}


/* description */

.text-about {
    text-align: justify;
}

.text-about h2,
.text-show h2 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 2.5rem;
}

.text-about p {
    font-family: 'Rubik';
}

.about {
    background-color: rgba(250, 192, 19, 0.75);
}

.custom-shape-divider-bottom,
.custom-shape-divider-top {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.custom-shape-divider-bottom svg {
    position: relative;
    display: block;
    width: calc(129% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-top svg {
    position: relative;
    display: block;
    width: calc(129% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top .shape-fill {
    fill: rgba(250, 192, 19, 0.75);
}


/* showcase */

.showcase>.container {
    margin: 5vh auto;
}

.carousel-inner {
    text-align: center;
}

.carousel-item {
    width: 100%;
    height: 470px;
}

.carousel-inner>.carousel-item>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-inner>.carousel-item>.carousel-caption {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
}


/* DESKTOP VERSION */

@media (min-width: 992px) {
    .jumbotron {
        width: 100%;
        font-family: viga;
        margin-top: auto;
    }
    .navbar-brand,
    .nav-link {
        color: black;
    }
    .nav-link {
        margin-right: 10px;
    }
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #fac213;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    .jumbotron .display-4 {
        color: black;
        font-size: 62px;
        margin-top: 10px;
    }
    iframe {
        width: 745px;
        height: 365px;
    }
}